<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Index">
    <select id="randomitemlist" resultType="HashMap">
        SELECT P.MAINIMAGE,P.ID
        FROM PRODUCT_TB P JOIN TODAYITEMLIST_TB T ON P.ID = T.PRODUCT_ID
        WHERE T.ID  BETWEEN (SELECT (LAST_NUMBER) -22
        FROM USER_SEQUENCES
        WHERE SEQUENCE_NAME = 'TODAYITEMLIST_TB_SEQ') AND
        (SELECT
        (LAST_NUMBER) -12
        FROM
        USER_SEQUENCES
        WHERE
        SEQUENCE_NAME = 'TODAYITEMLIST_TB_SEQ') AND P.DELETECHECK = 0
    </select>

    <insert id="insertRandomItem">
        INSERT INTO TODAYITEMLIST_TB(ID,PRODUCT_ID)
        SELECT TODAYITEMLIST_TB_SEQ.NEXTVAL,ID
        FROM(SELECT ID
        FROM PRODUCT_TB
        ORDER BY DBMS_RANDOM.VALUE)
        WHERE ROWNUM  <![CDATA[<= 9 ]]>
    </insert>

    <select id="recommenditemlist"
            resultType="HashMap">
        SELECT TITLE,ID,MAINIMAGE
        FROM  (SELECT * FROM PRODUCT_TB
        ORDER BY DBMS_RANDOM.VALUE)
        WHERE ROWNUM <![CDATA[<= 15 ]]>
    </select>

    <select id="starCount"
            resultType="HashMap">
        SELECT  sum(star) as star, count(star) as starcount
        FROM REVIEW_TB
        WHERE PRODUCT_NUM = #{ID}
    </select>

    <select id="categoryItemList" resultType="Map" parameterType="Map">
        SELECT ID,MAINIMAGE,TITLE
        FROM (SELECT ID, MAINIMAGE,TITLE FROM PRODUCT_TB
        WHERE CATEGORY LIKE #{category1}||'%' or CATEGORY LIKE #{category2}||'%' or CATEGORY LIKE #{category3}||'%' or CATEGORY LIKE #{category4}||'%'
        ORDER BY DBMS_RANDOM.VALUE)
        WHERE ROWNUM <![CDATA[<= 15 ]]>
    </select>
</mapper>
