<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="Mypage">

    <select id="user_shopping_basket"
            resultType="com.green.shopping.vo.Shopping_basketVo">

            SELECT S.PRODUCTDETAIL_NUM as productDetailID, S.COUNT as count, P.PRODUCT_PRICE as price , P.PRODUCT_NAME as name, P.PRODUCT_ID as productId, R.MARKET_NAME as marketName
            FROM SHOPPING_BASKET_TB S LEFT JOIN PRODUCTDETAIL_TB P
            ON S.PRODUCTDETAIL_NUM = P.ID
            LEFT JOIN PRODUCT_TB R
            ON P.PRODUCT_ID = R. ID
            WHERE S.USER_ID = #{user_id}
    </select>

    <delete id="user_shopping_basket_delete" parameterType="HashMap">
        DELETE FROM SHOPPING_BASKET_TB
        WHERE USER_ID = #{user_id}
        AND PRODUCTDETAIL_NUM = #{productDetailId}

    </delete>

    <select id = "Mypagecoupon"
            resultType="com.green.shopping.vo.CouponVo">

        SELECT ID,NAME,CONDITION,DISCOUNT,DISCOUNTRATE
        FROM COUPON_TB
    </select>

    <select id="myreview"
            resultType="com.green.shopping.vo.ReviewVo">
        SELECT ID,USER_ID,TITLE,CONT,STAR,PRODUCT_NUM,TO_CHAR(REGDATE + 9/24, 'yyyy-mm-dd') AS REGDATE
        FROM REVIEW_TB
        WHERE USER_ID = #{user_id}
        ORDER BY ID DESC
    </select>

    <select id="mypruchaseinquiry"
            resultType="com.green.shopping.vo.PurchaselistVo">
        SELECT ID,USER_ID,TOTALPRICE,PRODUCTID,STATE,DELIVERY,POSTADDRESSID,TO_CHAR(TIME + 9/24, 'yyyy-mm-dd') AS TIME
        FROM PURCHASELIST_TB
        WHERE USER_ID = #{user_id}
    </select>


    <select id="invoiceNumberGet"
           resultType="com.green.shopping.vo.TestpostVo">

        SELECT T.INVOICENUMBER AS invoiceNumber, T.CONTENT AS content
        FROM POST_TB P LEFT JOIN TESTPOST_TB T ON P.INVOICENUMBER = T.INVOICENUMBER
        WHERE PURCHARSELISTID = #{invoicenumber}

    </select>

</mapper>


