<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SellerCenter">

    <select id="getCategoryList"
            parameterType="String"
            resultType="com.green.shopping.vo.CategoryVo">
        SELECT *
        FROM    Category_Tb
        WHERE NVL(parent_num,-1) = #{parent_num}
    </select>

    <insert id="insertProduct_Img"
            parameterType="java.util.HashMap">
        INSERT INTO Product_Img_Tb(File_Name, Product_Num, IsMain)
        VALUES (#{file_Name}, #{product_Num}, #{isMain})
    </insert>

    <insert id="createProduct"
            parameterType="java.util.HashMap">

        INSERT INTO Product_Tb(Id,Market_Name,Category,Title,Cont,Event)
        VALUES (product_tb_seq.nextval,#{market_name},#{category},#{title},#{cont},#{event})

        <selectKey keyProperty="Id" resultType="String" order="AFTER">
            select product_tb_seq.currval from dual
        </selectKey>
    </insert>

    <insert id="createProductDetail"
            parameterType="java.util.HashMap">

        INSERT INTO ProductDetail_Tb(Id,Product_Id,Product_Name,Product_Price,Product_Discount,Product_Count,DateStart,DateEnd)
        VALUES (product_detail_tb_seq.nextval,#{product_Id},#{product_Name},#{product_Price},#{product_Discount},#{product_Count},#{dateStart},#{dateEnd})

        <selectKey keyProperty="Id" resultType="String" order="AFTER">
            select product_detail_tb_seq.currval from dual
        </selectKey>
    </insert>

    <select id="getProductIdListByMarketName" resultType="map" parameterType="String">
        select id, title from product_tb
        where market_name = #{marketName}
    </select>

    <select id="getPurchasedListByProductId" resultType="map" parameterType="Object">
        select id, productid, state, TO_CHAR(TIME + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS TIME, postaddressid
        from purchaselist_tb
        where productid = #{productid}
    </select>

    <select id="getPostAddressById" parameterType="Integer" resultType="map">
        select * from PostAddress_Tb
        where id = #{id}
    </select>

    <select id="getOrderDetail" parameterType="Integer" resultType="map">
        select a.productdetailid ,a.count, b.product_name
        from purchasedetaillist_tb a, productdetail_tb b
        where a.purchaselistid = #{orderNum} and a.productdetailid = b.id
    </select>

    <update id="updateOrderStatus" parameterType="java.util.HashMap">
        update purchaselist_tb
        set state = #{status}
        where id = #{orderNum}
    </update>

    <insert id="insertPostInfo" parameterType="java.util.HashMap">
        insert into post_tb(invoicenumber,companyname,purcharselistid)
        values (#{invoiceNum},#{companyName},#{purchaseNum})
    </insert>
    
    <select id="getOrderConfirm" parameterType="String" resultType="java.util.HashMap">
        select a.id,to_char(a.time,'YYYY-MM-DD hh24:mi:ss') as time,a.state,b.title,w.user_name,w.user_tel,w.user_address,w.user_email
        from purchaselist_tb a, product_tb b, user_tb w
        where state = 6 and b.market_name = #{marketName} and a.user_id = w.user_id
    </select>
    
    <select id="getOrderConfirmModal" parameterType="Integer" resultType="java.util.HashMap">
        SELECT A.PRICE,A.SALE,A.COUNT,B.PRODUCT_NAME AS PRODUCTNAME
        FROM PURCHASEDETAILLIST_TB A, PRODUCTDETAIL_TB B
        WHERE A.purchaselistid = #{purchaselistid} and a.productdetailid = b.id
    </select>

    <resultMap id="ProductTbMapList" type="java.util.HashMap">
        <result property="id" column="id"/>
        <result property="marketName" column="market_name"/>
        <result property="category" column="category"/>
        <result property="title" column="title"/>
        <result property="cont" column="cont" jdbcType="CLOB" javaType="java.lang.String"/>
        <result property="event" column="event"/>
        <result property="deletecheck" column="deletecheck"/>
    </resultMap>

    <select id="getProductTbByMarketName" parameterType="String" resultType="java.util.HashMap" resultMap="ProductTbMapList">
        select * from product_tb
        where deletecheck = 0 and market_name = #{marketName}
    </select>

    <select id="getCategoryRoot" parameterType="Integer" resultType="java.util.HashMap">
        select listagg(name, '>') within group (order by level desc) as name, listagg(num, '>') within group (order by level desc) as num
        from category_tb
        start with num = #{num}
        connect by num = prior parent_num
    </select>
</mapper>



