<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SellerCenter">

    <select id="getCategoryList"
            parameterType="String"
            resultType="com.green.shopping.vo.CategoryVo">
        SELECT *
        FROM    Category_Tb
        WHERE NVL(parent_num,-1) = #{parent_num}
    </select>

</mapper>


