<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="Talk">

    <insert id="insert" parameterType="java.util.Map">
        insert into Talk_Tb (ID,USERID,MARKETOWNER)
        values (#{_id},#{userId},#{marketOwner})
    </insert>

    <select id="getIdByUserIdAndMarketOwner" parameterType="java.util.Map" resultType="String">
        select ID from Talk_Tb
        where USERID = #{userId} and MARKETOWNER = #{marketOwner}
    </select>

    <select id="select" parameterType="String" resultType="java.util.Map">
        select * from Talk_Tb
        where ID = #{_id}
    </select>

    <select id="getIdByMarketOwner" parameterType="String" resultType="String">
        select ID from Talk_Tb
        where MARKETOWNER = #{marketOwner}
    </select>

    <select id="getIdByUserId" parameterType="String" resultType="String">
        select ID from Talk_Tb
        where USERID = #{userId}
    </select>

    <update id="updateMarketOwnerCount" parameterType="String">
        update Talk_Tb
        set MARKETOWNERTHISTORY = CURRENT_ + 1,
            CURRENT_ = CURRENT_ + 1
        where ID = #{uuid}
    </update>

    <update id="updateUserIdCount" parameterType="String">
        update Talk_Tb
        set USERHISTORY = CURRENT_ + 1,
            CURRENT_ = CURRENT_ + 1
        where ID = #{uuid}
    </update>

    <update id="updateCurrentCount" parameterType="String">
        update Talk_Tb
        set CURRENT_ = CURRENT_ + 1
        where ID = #{uuid}
    </update>

    <update id="updateBothCount" parameterType="String">
        update Talk_Tb
        set MARKETOWNERTHISTORY = CURRENT_ + 1,
            USERHISTORY = CURRENT_ + 1,
            CURRENT_ = CURRENT_ + 1
        where ID = #{uuid}
    </update>

    <update id="updateMarketOwnerCountToCurrent" parameterType="String">
        update Talk_Tb
        set MARKETOWNERTHISTORY = CURRENT_
        where ID = #{uuid}
    </update>

    <update id="updateUserCountToCurrent" parameterType="String">
        update Talk_Tb
        set USERHISTORY = CURRENT_
        where ID = #{uuid}
    </update>

    <select id="getMarketOwnerCountByUuid" parameterType="String" resultType="int">
        select SUM(CURRENT_ - MARKETOWNERTHISTORY) from Talk_Tb
        where ID = #{uuid}
    </select>

    <select id="getUserIdCountByUuid" parameterType="String" resultType="int">
        select SUM(CURRENT_ - USERHISTORY) from Talk_Tb
        where ID = #{uuid}
    </select>

    <select id="getMarketOwnerByUuid" parameterType="String" resultType="String">
        select MARKETOWNER from Talk_Tb
        where ID = #{uuid}
    </select>

    <select id="getMarketOwnerIdByProductId" parameterType="Integer" resultType="String">
        select sellerId from market_tb
        where name = (select market_name from product_tb
                      where id = #{productId})
    </select>
</mapper>


